env/
screenshots/
README.md
.env
leaderboard.csv
student_authentication.csv
addusers.py

# .env file format
# API_KEY = 
# AUTHDOMAIN= 
# DB_URL= 
# PROJ_ID= 
# STORAGE_BUCKET= 
# MESSAGING_SENDER_ID= 
# APP_ID= 
# MEASUREMENT_ID= 

# SECRET_KEY= 